<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:insert="index :: head">
</head>
<body>

<header>
    <div class="container">
        <div class="section">
            <h1>Create A Resume</h1>
            <p class="lead"> Use this form to create resume. Fill out each field, select the person the resume is for, and hit the save button.</p>
        </div>
    </div>
</header>

<div class="container">
    <form action="/saveresume" th:object="${theResume}" method="post">
        <input type="hidden" th:field="*{id}">

        <!--RESUME NAME-->
        <h2>Name This Resume</h2>
        <div class="form-group row">
            <label for="resumeName" class="col-sm-2 col-form-label">Give this resume a name: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{resumeName}" placeholder="Resume Name">
            </div>
        </div>

        <!--WORK EXPERIENCE SECTION-->
            <h2>Work Experience</h2>
            <div class="form-group row">
                    <label for="jobTitle1" class="col-sm-2 col-form-label">Insert job title: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{experiences[0].jobTitle}" id="jobTitle1" placeholder="Job Title">
                    </div>
            </div>
            <div class="form-group row">
                <label for="organization1" class="col-sm-2 col-form-label">Insert organization: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{experiences[0].organization}" id="organization1" placeholder="Organization">
                </div>
            </div>
            <div class="form-group row">
                <label for="start_date_1" class="col-2 col-form-label">Start Date</label>
                <div class="col-10">
                    <input class="form-control" th:field="*{experiences[0].startDate}" type="month" value="2011-08" id="start_date_1">
                </div>
            </div>
            <div class="form-group row">
                    <label for="start_date_1" class="col-2 col-form-label">End Date</label>
                    <div class="col-10">
                        <input class="form-control" th:field="*{experiences[0].startDate}" type="month" value="2011-08" id="start_date_1">
                    </div>
                </div>
        <!--/END OF WORK EXPERIENCE-->

        <!--EDUCATIONAL ACHIEVEMENTS SECTION-->
        <h2>Educational Achievements</h2>
            <div class="form-group row">
                <label for="degree1" class="col-sm-2 col-form-label">Insert degree: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{educations[0].degree}" id="degree1" placeholder="Degree">
                </div>
            </div>
            <div class="form-group row">
                <label for="institution" class="col-sm-2 col-form-label">Insert institution: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{educations[0].institution}" id="institution" placeholder="institution">
                </div>
            </div>
        <!--/END OF EDUCATIONAL ACHIEVEMENTS SECTION-->

        <!--SKILLS SECTION-->
        <h2>Skills</h2>
        <div class="form-group row">
            <label for="skills" class="col-sm-2 col-form-label">Insert skill: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{skills[0].nameOfSkill}" id="skills" placeholder="skill">
            </div>
        </div>
        <div class="form-group row">
            <label for="proficiency" class="col-sm-2 col-form-label">Insert proficiency: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{skills[0].proficiency}" id="proficiency" placeholder="proficiency">
            </div>
        </div>
        <!--/END OF SKILLS SECTION-->
<!--
        <div class="form-group row">
            <label for="personResume" class="col-sm-2 col-form-label">Insert person: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{personResume}" id="personResume" placeholder="Person">
            </div>
        </div>-->

        <!--Dropdown menu option to select person-->

        <div class="form-group row">
            <label for="personResume" class="col-sm-2 col-form-label">Select person: </label>
            <div class="col-sm-10">
                <input type="hidden" th:field="*{personResume}" placeholder="Person">
                <select th:field="*{personResume}" class="form-control">
                    <option th:each="eachPerson:${allpeople}" th:value="${eachPerson.id}" th:text="${eachPerson.firstName}"></option>
                </select>
            </div>
        </div>

<!--        <div class="form-group">
            <p>Do you have any additional work experience?</p>
                <div class="form-check">
                    <label class="form-check-label">
                       <input class="form-check-input" type="radio" onclick="javascript:addmoreCheck();" name="yesno" id="yesCheck" value="Yes"> Yes
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                       <input class="form-check-input" type="radio" onclick="javascript:addmoreCheck();" name="yesno" id="noCheck" value="No"> No
                    </label>
                </div>

            <div class="form-group row">
                <label for="jobTitle" class="col-sm-2 col-form-label">Insert job title: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{jobTitle}" id="" placeholder="Job Title">
                </div>
            </div>

        </div>-->

        <button type="submit">Save</button>

    </form>
</div>

<span th:insert="index :: js"></span>
</body>
</html>
