<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head th:insert="index :: head">

</head>
<body>

<!--<nav th:insert="index :: navigation"></nav>-->
<header>
    <div class="container">
        <div class="row">
            <h1>List of People</h1>
            <p class="lead">This page lists people currently in the database and gives you the option add a resume to the selected user.</p>
        </div>
    </div>
</header>

<div class="container">
    <h2>People</h2>
    <a href="/addperson" class="btn btn-primary">Add A Person</a>
</div>

<div class="container">
    <div class="row">
        <div th:each="eachPerson:${allpeople}">
            <p th:text="${eachPerson.firstName}"></p>
            <p th:text="${eachPerson.lastName}"></p>
            <a href="/createresumeform" class="btn btn-primary">Add Resume</a>
            <a href="/editPerson" class="btn btn-warning">Edit Person</a>

            <!--List of resumes under each person-->
            <div th:each="eachResume:${eachPerson.myResumes}">
                <p class="lead">Resumes</p>
                    <ul>
                        <li><a th:href="@{/resume/{id}(id=${eachResume.id})}">Resume Name:<p th:text="${eachResume.resumeName}"></p></a></li> <!--This link will take user to this specific resume.-->
                    </ul>
            </div>
        </div>
    </div>
</div>

<span th:insert="index :: js"></span>
</body>
</html>
