<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head th:insert="index :: head">

</head>
<body>

<div th:each="eachPerson:${theResume.personResume}">
    <p th:text="${eachPerson.firstName}"></p>
</div>
<!--<p th:text="${theResume.lastName}"></p>
<p th:text="${theResume.emailAddress}"></p>
<p th:text="${theResume.phoneNumber}"></p>-->


<!--<div th:text="thePerson.myResumes}">
    <p th:text="${theResume.jobTitle}"></p>
</div>-->
<!--<p th:text="${theResume.jobTitle}"></p>-->

<span th:insert="index :: js"></span>
</body>
</html>
